.header__root {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 10;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, .75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 200rem;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__left__image {
  height: 2.5rem;
  cursor: pointer;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: .5rem;
  align-items: center;
  padding: 0 2rem;
  border-bottom: none;
}

.header__option--active {
  border-bottom: 4px solid #2e81f4;
}

.header__option > .MuiSvgIcon-root {
  color: darkgray;
}

.header__option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__right {
  display: flex;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: .5rem;
}

.header__expand {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 0;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1rem 1.5rem;
  width: 20rem;
}

.header__expand__col {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.header__expand__row {
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: .35rem;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.header__expand__first__row {
  border-bottom: 1px solid gray;
  border-radius: 0;
  margin-top: 1rem;
}

.header__expand__row:hover {
  background-color: rgba(180, 180, 180, 1);
}

.show__expand {
  display: block;
}

.hide__expand {
  display: none;
}

.header__expand__profile > h4 {
  margin-left: 1rem;
}

.header__expand__info > h4, h5 {
  margin-left: 1rem;
}

.header__expand__profile > .MuiSvgIcon-root {
  color: gray;
}

.header__icon {
  border-radius: 50%;
  background-color: lightgray;
  padding: .5rem;
}

.header__icon__avatar {
  width: 55px!important;
  height: 55px!important;
}
